
.worldmap-wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--blue);
    /* font-weight: 400; */
    /* margin: auto; */
    padding-bottom: 2rem;
    min-height: 50vh;
}
.worldmap-wrapper-sm {
    min-height: 30vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: var(--blue);
    /* font-weight: 400; */
    /* margin: auto; */
    padding-bottom: 2rem;
    min-height: 30vh;
}

.worldmap-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.worldmap-container-sm {
    display: flex;
    justify-content: space-evenly;
}

.country-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 5rem 0 5rem 0;
    padding: 3rem;
    cursor: pointer;
    text-decoration: none;
    transition:all 0.9s, color 0.3s;
}
.country-container:hover{
    text-decoration: none;
    box-shadow: 3rem 3rem 0.1rem 0 rgba(84,160,255,0.95) inset,
                -3rem -3rem 0.1rem 0 rgba(84,160,255,0.95) inset;
}

.country-container:hover .country-name{
    font-size: 3.4rem;
}

.country-container img {
    width: 60%;
}

.country-name {
    font-size: 3rem;
    transition: all 0.9s;
}
